body {
    font-family: sans-serif;
    padding: 1em;
    background: linear-gradient(360deg, rgba(214, 214, 231, 0.5) 0%, rgba(245, 245, 250, 0.5) 100%), linear-gradient(0deg, #FFFFFF, #FFFFFF);
    min-height: 100vh;
  }
  
  .ais-ClearRefinements {
    margin: 1em 0;
  }
  
  .ais-SearchBox {
    margin: 1em 0;
  }
  
  .ais-Pagination {
    margin-top: 1em;
  }
  
  .left-panel {
    float: left;
    width: 250px;
  }
  
  .right-panel {
    margin-left: 260px;
  }
  
  .ais-InstantSearch {
    max-width: 960px;
    overflow: hidden;
    margin: 0 auto;
  }
  
  .ais-Hits-item {
    margin-bottom: 1em;
    width: calc(50% - 1rem);
  }
  
  .ais-Hits-item img {
    margin-right: 1em;
  }
  
  .hit-name {
    margin-bottom: 0.5em;
  }
  
  .hit-description {
    color: #888;
    font-size: 14px;
    margin-bottom: 0.5em;
  }
  
  .ais-Highlight-highlighted, .ais-Snippet-highlighted {
    background-color: #c8ddf5;
  }
  .primary-attribute{
      font-weight: bold;
  }
  .ais-Hits-list{
      display: list-item
  }
  .ais-Hits-item {
    width: auto;
    border: 0px;
    box-shadow: none;
    border-bottom: 1px solid lightgray;
    padding: 1em 0 1em 0;
    margin: 0;

  }

  .ais-SearchBox{
      margin: 1em 4em 1em
  }

  .header-panel{
      text-align: center;
  }
  .hit-title{
      display: flex;
      width: 100%
  }
  .primary-attribute{
      width: 80%
  }

  .secondary-attribute{
      width: 10%;
      padding: 0 1em;
      text-align: right;
  }
  .hits-container{
      background-color: white;
  }
  
  .ais-Hits{
      padding: 1em 2em 1em
  }
  .ais-Hits-item:last-of-type{
      border-bottom: 0;
  }